

<!doctype html>
<html class="no-js" lang="">

{%include "adminhome/metatag.html"%}

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
   
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    {%include "adminhome/header.html"%}
    {%include "adminhome/sidebar.html"%}
    <!-- Mobile Menu start -->
    {%include "adminhome/mobile_menu.html"%}
    <!-- Basic Form Start -->
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
               
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>All Form Element</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
<form name="form1" method="post" id="formID" action="/insuranceclaim/claimamountformupdate/{{camt.id}}" class="form-horizontal">
  {% csrf_token %}
  <table width="494" height="520" border="0" align="center">
    <tr>
      <td colspan="2"><div align="center">Claim amount form</div></td>
    </tr>
    <tr>
      <td><div align="center">customer_policy_id </div></td>
      <td><div align="center">
        <select name="customer_policy_id" id="customer_policy_id" class="form-control validate[required,custom[onlyLetter]]" value="{{camt.customer_policy_id}}">
        <option value="select">select customer_policy_id</option>
        {%for c in cust%}
        <option value="{{c.id}}">{{c.total_amount}} </option>
          {%endfor%}
  </select>
</div></td>
    </tr>
    <tr>
      <td><div align="center">total_valuation</div></td>
      <td><div align="center">
        <input name="total_valuation" id="total_valuation" class="form-control validate[required,custom[onlyLetter]]" value="{{camt.total_valuation}}">
    </input>
</div></td>
    </tr>
   
    <tr>
      <td><div align="center">release_date </div></td>
      <td><div align="center">
        <input name="release_date" type="date" id="release_date" class="form-control validate[required,custom[onlyLetter]]" value="{{camt.release_date}}">
      </div></td>
    </tr>
    <tr>
      <td><div align="center">release_amount </div></td>
      <td><div align="center">
        <input name="release_amount" type="date" id="release_amount" class="form-control validate[required,custom[onlyLetter]]" value="{{camt.release_amount}}">
      </div></td>
    </tr>
    
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Update" class="btn btn-success btn">
        
      </div></td>
    </tr>
  </table>
</form>
 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic Form End-->
        {%include "adminhome/footer.html"%}
<?php include('val.php'); ?>
</body>

</html>