
<!doctype html>
<html class="no-js" lang="">

{%include "adminhome/metatag.html"%}

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    {%include "adminhome/sidebar.html"%}
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    {%include "adminhome/header.html"%}
    <!-- Mobile Menu start -->
    {%include "adminhome/mobile_menu.html"%}
    <!-- Basic Form Start -->
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
               
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>All Form Element</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
<form name="form1" method="post" id="formID" action="/insuranceclaim/feedbacktableupdate/{{fback.id}}" class="form-horizontal">
  {% csrf_token %}

  <table width="494" height="520" border="0" align="center">
    <tr>
      <td colspan="2"><div align="center">feedback table form  </div></td>
    </tr>
    
    
      <tr>
        <td><div align="center">to</div></td>
        <td><div align="center">
          <input name="to" type="text" id="to" class="form-control validate[required,custom[onlyLetter]]" value="{{fback.to}}">
        </div></td>
      </tr>
    <tr>
      <td><div align="center">title</div></td>
      <td><div align="center">
        <input name="title" type="text" id="title" class="form-control validate[required,custom[onlyLetter]]" value="{{fback.title}}">
      </div></td>
    </tr>
    <tr>
      <td><div align="center">feedback_msg </div></td>
      <td><div align="center">
        <input name="feedback_msg" type="text" id="feedback_msg" class="form-control validate[required,custom[onlyLetter]]" value="{{fback.feedback_msg}}">
      </div></td>
    </tr>
    <tr>
      <td><div align="center">date</div></td>
      <td><div align="center">
        <input name="date" type="date" id="date" class="form-control validate[required,custom[onlyLetter]]" value="{{fback.date}}">
      </div></td>
    </tr>
    
   
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Update" class="btn btn-success btn">
        
      </div></td>
    </tr>
  </table>
</form>
 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic Form End-->
        {%include "adminhome/footer.html"%}
<?php include('val.php'); ?>
</body>

</html>