
<!doctype html>
<html class="no-js" lang="">

{%include "adminhome/metatag.html"%}

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
   
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    {%include "adminhome/header.html"%}
    
    <!-- Mobile Menu start -->
    {%include "adminhome/mobile_menu.html"%}
    <!-- Basic Form Start -->


            <!-- Mobile Menu end -->
			
			<div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-sales-chart">
                            <div class="portlet-title">
                                <div class="row">
                                    
                                    <img src="/static/adminhome/img/ubg.png">
                                </div>
                            </div>
                   
                           
        
        {%include "adminhome/footer.html"%}
    <!-- jquery
		============================================ -->
    <script src="/static/adminhome/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/static/adminhome/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/static/adminhome/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/static/adminhome/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/static/adminhome/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/static/adminhome/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/static/adminhome/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/static/adminhome/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/static/adminhome/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/adminhome/js/counterup/waypoints.min.js"></script>
    <script src="/static/adminhome/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/static/adminhome/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/adminhome/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/static/adminhome/js/metisMenu/metisMenu.min.js"></script>
    <script src="/static/adminhome/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/static/adminhome/js/morrisjs/raphael-min.js"></script>
    <script src="/static/adminhome/js/morrisjs/morris.js"></script>
    <script src="/static/adminhome/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/static/adminhome/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/adminhome/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/static/adminhome/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/static/adminhome/js/calendar/moment.min.js"></script>
    <script src="/static/adminhome/js/calendar/fullcalendar.min.js"></script>
    <script src="/static/adminhome/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/static/adminhome/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/static/adminhome/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="/static/adminhome/js/tawk-chat.js"></script>
</body>

</html>